<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REDITOR</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/css/index.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <script src="/lib/jquery/dist/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
    {% block foot %}
    {% endblock %}
    <script src="/js/main.min.js" charset="utf-8"></script>
</body>
</html>
